<p>検索結果</p>

<% if @model == "user" %>
  <h2>ユーザーの検索結果</h2>
  <% @results.each do |user| %>
    <p><%= link_to user.name, user_path(user) %></p>
  <% end %>
<% elsif @model == "book" %>
  <h2>投稿の検索結果</h2>
  <% @results.each do |book| %>
    <p><%= link_to book.title, book_path(book) %></p>
  <% end %>
<% else %>
  <p>該当するデータが見つかりませんでした。</p>
<% end %>